.lime {
    background-color: #66C555;
    color: #66C555;
    margin-right: 14px;
    width: 12px;
    height: 40px;

}

.lime-color {
    background-color: #66C555;
}

.category {
    font-weight: 600;
    font-size: 32px;
    color: white;

}

/* card section  */
.card-div {


    max-width: 321.82px;
    width: 321.82px;
    border-bottom-right-radius: 87px;
}



.borded {
    border: 3px solid black;
    height: 45px;
    width: 45px;
}