.lime {
    background-color: #66C555;
    color: #66C555;
    margin-right: 14px;
    width: 12px;
    height: 40px;

}

.lime-color {
    background-color: #66C555;
}

.category-head-div {}

.category {
    font-weight: 600;
    font-size: 32px;
    color: white;
}

/* card section  */
.card-div {


    max-width: 321.82px;
    width: 321.82px;
}

:hover.card-div {
    border-bottom-right-radius: 87px;
}

.button {
    width: 200.03px;
    height: 34.32px;
}

:hover.button {
    background-color: #66C555;
}

.borded {
    border: 3px solid black;
}