.active {
  background: none !important;
  color: #66c555 !important;
}

.active:hover {
  background: none;
}


@media only screen and (max-width: 414px) {
  .small-display {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 414px) {
  .small-d-p-top {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.border-radius {
  border-radius: 0px 0px 87px 0px;
}

/* Background Animated CSS */
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #000000;
  overflow: hidden;
  z-index: -1;
}

.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 23s linear infinite;
}




.background li:nth-child(0) {
  left: 6%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 1s;
}

.background li:nth-child(1) {
  left: 2%;
  width: 53px;
  height: 53px;
  bottom: -53px;
  animation-delay: 3s;
}

.background li:nth-child(2) {
  left: 35%;
  width: 66px;
  height: 66px;
  bottom: -66px;
  animation-delay: 10s;
}

.background li:nth-child(3) {
  left: 87%;
  width: 83px;
  height: 83px;
  bottom: -83px;
  animation-delay: 1s;
}

.background li:nth-child(4) {
  left: 64%;
  width: 31px;
  height: 31px;
  bottom: -31px;
  animation-delay: 14s;
}

.background li:nth-child(5) {
  left: 55%;
  width: 91px;
  height: 91px;
  bottom: -91px;
  animation-delay: 10s;
}

.background li:nth-child(6) {
  left: 10%;
  width: 53px;
  height: 53px;
  bottom: -53px;
  animation-delay: 8s;
}

.background li:nth-child(7) {
  left: 23%;
  width: 57px;
  height: 57px;
  bottom: -57px;
  animation-delay: 32s;
}

.background li:nth-child(8) {
  left: 37%;
  width: 54px;
  height: 54px;
  bottom: -54px;
  animation-delay: 2s;
}

.background li:nth-child(9) {
  left: 83%;
  width: 66px;
  height: 66px;
  bottom: -66px;
  animation-delay: 32s;
}

.background li:nth-child(10) {
  left: 46%;
  width: 91px;
  height: 91px;
  bottom: -91px;
  animation-delay: 47s;
}

.background li:nth-child(11) {
  left: 44%;
  width: 40px;
  height: 40px;
  bottom: -40px;
  animation-delay: 29s;
}

.background li:nth-child(12) {
  left: 43%;
  width: 98px;
  height: 98px;
  bottom: -98px;
  animation-delay: 20s;
}

.background li:nth-child(13) {
  left: 58%;
  width: 36px;
  height: 36px;
  bottom: -36px;
  animation-delay: 52s;
}

.background li:nth-child(14) {
  left: 7%;
  width: 81px;
  height: 81px;
  bottom: -81px;
  animation-delay: 33s;
}

.background li:nth-child(15) {
  left: 86%;
  width: 73px;
  height: 73px;
  bottom: -73px;
  animation-delay: 70s;
}

.background li:nth-child(16) {
  left: 28%;
  width: 48px;
  height: 48px;
  bottom: -48px;
  animation-delay: 46s;
}

.background li:nth-child(17) {
  left: 28%;
  width: 97px;
  height: 97px;
  bottom: -97px;
  animation-delay: 10s;
}

.background li:nth-child(18) {
  left: 77%;
  width: 60px;
  height: 60px;
  bottom: -60px;
  animation-delay: 86s;
}

.background li:nth-child(19) {
  left: 38%;
  width: 85px;
  height: 85px;
  bottom: -85px;
  animation-delay: 13s;
}

.background li:nth-child(20) {
  left: 58%;
  width: 82px;
  height: 82px;
  bottom: -82px;
  animation-delay: 38s;
}

.background li:nth-child(21) {
  left: 31%;
  width: 36px;
  height: 36px;
  bottom: -36px;
  animation-delay: 37s;
}

.background li:nth-child(22) {
  left: 47%;
  width: 86px;
  height: 86px;
  bottom: -86px;
  animation-delay: 80s;
}

.background li:nth-child(23) {
  left: 21%;
  width: 55px;
  height: 55px;
  bottom: -55px;
  animation-delay: 32s;
}

.background li:nth-child(24) {
  left: 78%;
  width: 50px;
  height: 50px;
  bottom: -50px;
  animation-delay: 90s;
}

.background li:nth-child(25) {
  left: 7%;
  width: 30px;
  height: 30px;
  bottom: -30px;
  animation-delay: 19s;
}

/* Link-Short Custom Code */


/* chatgpt min highet  */
.chatgpt {
  min-height: calc(100vh - 510px) !important;
}