.active {
  background: none !important;
  color: #66c555 !important;
}

.active:hover {
  background: none;
}


@media only screen and (max-width: 414px) {
  .small-display {
    padding: 0 30px;
  }
}